<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>webStr</key>
		<string>https://www.meipian.cn/2tiepft</string>
		<key>picView</key>
		<string>paris</string>
		<key>content</key>
		<string>法国首都巴黎的绰约风姿举世闻名，充满历史文化承载的建筑物，
弥漫艺术与时尚气息的城市气质，这些都早已使巴黎成为了一座世
界名都，也是无数渴望邂逅浪漫的游人望穿秋水的地方。巴黎圣母
院、卢浮宫、凯旋门，这些俯拾即是的建筑物和内涵价值足以令无
数游人为之兴奋，而当你站在埃菲尔铁塔下，见证绚烂绽放的五彩
灯光时，那种感动足以永生铭记。</string>
		<key>icon</key>
		<string>txBv</string>
	</dict>
	<dict>
		<key>webStr</key>
		<string>http://www.sohu.com/a/226152013_243001</string>
		<key>picView</key>
		<string>barcelona</string>
		<key>content</key>
		<string>带有哥特风格的古老建筑与高楼大厦交相辉映，共同构成了巴塞罗
那令人迷醉的天际线。格局凌乱的小巷子紧贴着新城区的边缘，古
色古香的旧城区里会忽然冒出工业时代的烟囱，在梦幻之城巴塞罗
那，这一切的不协调看起来都顺理成章。</string>
		<key>icon</key>
		<string>txBv</string>
	</dict>
	<dict>
		<key>webStr</key>
		<string>http://gonglue.c-ctrip.com/district/Dunedin/Dunedin.pdf</string>
		<key>picView</key>
		<string>danniding</string>
		<key>content</key>
		<string>19世纪中叶，苏格兰人移民到此并建造了但尼丁这座城市，它现在
是新西兰的第四大城市。后来的淘金热给这座年轻的城市带来了大
量人口和财富，整座城市以苏格兰建筑为主要风格，所以被称作是
除苏格兰之外最具苏格兰风情的城市。走在但尼丁这个古老与现代
完好结合的城市里，耳边犹如奏响一曲愉快的变奏曲，边走边愉悦，
并且越走越愉悦！</string>
		<key>icon</key>
		<string>txBv</string>
	</dict>
	<dict>
		<key>webStr</key>
		<string>https://site.douban.com/songguo/widget/notes/12534379/note/290855985/</string>
		<key>picView</key>
		<string>hulunbeier</string>
		<key>content</key>
		<string>“江水长，秋草黄，草原上琴声忧伤……”一曲悠扬的《鸿雁》总会
让人眼前浮现这样一幅优美的景象：广袤无垠的草原上镶嵌着纵横
交错的河流，成群的骏马在河边低头觅草，蒙古包前的牧马人拉着
老旧的马头琴，遥望着草原尽头松涛激荡的林海。现实中，这正是
能在内蒙古东北部看到的人间天堂——呼伦贝尔。</string>
		<key>icon</key>
		<string>txBv</string>
	</dict>
	<dict>
		<key>webStr</key>
		<string>http://gonglue.c-ctrip.com/district/Mauritius/Mauritius.pdf</string>
		<key>picView</key>
		<string>Mauritius</string>
		<key>content</key>
		<string>毛里求斯共和国为非洲东部一岛国，位于印度洋西南方，距马达加
斯加约800公里，与非洲大陆相距2200公里。葡萄牙航海家Pedro
Mascarenna于1505年发现毛里求斯岛，该岛先后被荷兰
（1638-1710）和法国（1715-1810）统治，最后在1814年巴黎条
约中成为英国的殖民地。毛里求斯于1968年3月12日独立，但仍尊
英女皇为名义元首，根据英国的西敏寺政制模式，有由民选国会占
大多数议席的政党组成内阁执政。1992年3月12日正式通过脱离英
国君主立宪制，成立毛里求斯共和国。</string>
		<key>icon</key>
		<string>txBv</string>
	</dict>
	<dict>
		<key>webStr</key>
		<string>http://gonglue.c-ctrip.com/district/Mauritius/Mauritius.pdf</string>
		<key>picView</key>
		<string>moscow</string>
		<key>content</key>
		<string>莫斯科让人想起普希金的诗歌或维列坦的风景画，在夕阳下，整个
城市浪漫又肃穆，大片的林木、克里姆林宫、斯大林式的建筑，以
及诸多东正教大教堂的洋葱顶印出城市线条。</string>
		<key>icon</key>
		<string>txBv</string>
	</dict>
	<dict>
		<key>webStr</key>
		<string>http://gonglue.c-ctrip.com/district/Mauritius/Mauritius.pdf</string>
		<key>picView</key>
		<string>seattle</string>
		<key>content</key>
		<string>提到西雅图，大家肯定会想到《西雅图夜未眠》这部浪漫的电影。
在《北京遇上西雅图》中，文佳佳就是在这里遇到了愿意每天早
上穿过几条街，为她买豆浆油条的 Frank。在这里，每个人都希
望遇到那个要过一辈子的人。</string>
		<key>icon</key>
		<string>txBv</string>
	</dict>
	<dict>
		<key>webStr</key>
		<string>http://gonglue.c-ctrip.com/district/Mauritius/Mauritius.pdf</string>
		<key>picView</key>
		<string>hawaii</string>
		<key>content</key>
		<string>很多人说夏威夷是“太平洋上的天堂”，这里集中了六个主要岛屿：
可爱岛、欧胡岛、茂宜岛、夏威夷大岛和比较小众的摩洛凯岛和拉
奈岛，每座岛屿都有着鲜明的个性。</string>
		<key>icon</key>
		<string>txBv</string>
	</dict>
	<dict>
		<key>webStr</key>
		<string>http://gonglue.c-ctrip.com/district/Mauritius/Mauritius.pdf</string>
		<key>picView</key>
		<string>xishaungbanna</string>
		<key>content</key>
		<string>西双版纳，古代傣语为“勐巴拉那西”，意思是“理想而神奇的
乐土”，以神奇的热带雨林自然景观和少数民族风情而闻名于世，
每年 4 月的傣族泼水节，吸引世界各地无数游人的到来。</string>
		<key>icon</key>
		<string>txBv</string>
	</dict>
	<dict>
		<key>webStr</key>
		<string>http://gonglue.c-ctrip.com/district/Mauritius/Mauritius.pdf</string>
		<key>picView</key>
		<string>xizang</string>
		<key>content</key>
		<string>纯净湛蓝的天空、雄奇壮美的神山圣湖、淳朴而彪悍的民俗民风、
神秘而虔诚的宗教信仰以及曼妙生花的异域风情…这就是西藏。一个
令人无限向往的纯净圣地，一片令人朝思暮想的雪域高原。</string>
		<key>icon</key>
		<string>txBv</string>
	</dict>
</array>
</plist>
