<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>dynamicArray</key>
		<array>
			<dict>
				<key>content</key>
				<string>C’est un monde surréaliste et merveilleux que nous propose Robert Jahns ! Le digital-artist a un univers bien à lui qu’il partage avec de nombreux fans. Et le moins que l’on puisse dire, est que son travail est vraiment incroyable.</string>
			</dict>
		</array>
		<key>subTitle</key>
		<string>发布法语语调笔记</string>
		<key>name</key>
		<string>Estelle</string>
		<key>icon</key>
		<string>tx1Study</string>
	</dict>
	<dict>
		<key>dynamicArray</key>
		<array>
			<dict>
				<key>content</key>
				<string>C’est un monde surréaliste et merveilleux que nous propose Robert Jahns ! Le digital-artist a un univers bien à lui qu’il partage avec de nombreux fans. Et le moins que l’on puisse dire, est que son travail est vraiment incroyable.</string>
			</dict>
		</array>
		<key>subTitle</key>
		<string>发布法语语调笔记</string>
		<key>name</key>
		<string>Jasmine</string>
		<key>icon</key>
		<string>tx2Study</string>
	</dict>
	<dict>
		<key>dynamicArray</key>
		<array>
			<dict>
				<key>content</key>
				<string>C’est un monde surréaliste et merveilleux que nous propose Robert Jahns ! Le digital-artist a un univers bien à lui qu’il partage avec de nombreux fans. Et le moins que l’on puisse dire, est que son travail est vraiment incroyable.</string>
			</dict>
		</array>
		<key>subTitle</key>
		<string>发布法语语调笔记</string>
		<key>name</key>
		<string>Iris</string>
		<key>icon</key>
		<string>tx3Study</string>
	</dict>
	<dict>
		<key>dynamicArray</key>
		<array>
			<dict>
				<key>content</key>
				<string>C’est un monde surréaliste et merveilleux que nous propose Robert Jahns ! Le digital-artist a un univers bien à lui qu’il partage avec de nombreux fans. Et le moins que l’on puisse dire, est que son travail est vraiment incroyable.</string>
			</dict>
		</array>
		<key>subTitle</key>
		<string>发布法语语调笔记</string>
		<key>name</key>
		<string>Ailsa</string>
		<key>icon</key>
		<string>tx4Study</string>
	</dict>
	<dict>
		<key>dynamicArray</key>
		<array>
			<dict>
				<key>content</key>
				<string>C’est un monde surréaliste et merveilleux que nous propose Robert Jahns ! Le digital-artist a un univers bien à lui qu’il partage avec de nombreux fans. Et le moins que l’on puisse dire, est que son travail est vraiment incroyable.</string>
			</dict>
		</array>
		<key>subTitle</key>
		<string>发布法语语调笔记</string>
		<key>name</key>
		<string>Becky</string>
		<key>icon</key>
		<string>tx5Study</string>
	</dict>
	<dict>
		<key>dynamicArray</key>
		<array>
			<dict>
				<key>content</key>
				<string>C’est un monde surréaliste et merveilleux que nous propose Robert Jahns ! Le digital-artist a un univers bien à lui qu’il partage avec de nombreux fans. Et le moins que l’on puisse dire, est que son travail est vraiment incroyable.</string>
			</dict>
		</array>
		<key>subTitle</key>
		<string>发布法语语调笔记</string>
		<key>name</key>
		<string>Carol</string>
		<key>icon</key>
		<string>tx6Study</string>
	</dict>
	<dict>
		<key>dynamicArray</key>
		<array>
			<dict>
				<key>content</key>
				<string>C’est un monde surréaliste et merveilleux que nous propose Robert Jahns ! Le digital-artist a un univers bien à lui qu’il partage avec de nombreux fans. Et le moins que l’on puisse dire, est que son travail est vraiment incroyable.</string>
			</dict>
		</array>
		<key>subTitle</key>
		<string>发布法语语调笔记</string>
		<key>name</key>
		<string>Ishara</string>
		<key>icon</key>
		<string>tx7Study</string>
	</dict>
	<dict>
		<key>dynamicArray</key>
		<array>
			<dict>
				<key>content</key>
				<string>C’est un monde surréaliste et merveilleux que nous propose Robert Jahns ! Le digital-artist a un univers bien à lui qu’il partage avec de nombreux fans. Et le moins que l’on puisse dire, est que son travail est vraiment incroyable.</string>
			</dict>
		</array>
		<key>subTitle</key>
		<string>发布法语语调笔记</string>
		<key>name</key>
		<string>Joy</string>
		<key>icon</key>
		<string>tx8Study</string>
	</dict>
	<dict>
		<key>dynamicArray</key>
		<array>
			<dict>
				<key>content</key>
				<string>C’est un monde surréaliste et merveilleux que nous propose Robert Jahns ! Le digital-artist a un univers bien à lui qu’il partage avec de nombreux fans. Et le moins que l’on puisse dire, est que son travail est vraiment incroyable.</string>
			</dict>
		</array>
		<key>subTitle</key>
		<string>发布法语语调笔记</string>
		<key>name</key>
		<string>Yolanda</string>
		<key>icon</key>
		<string>tx9Study</string>
	</dict>
	<dict>
		<key>dynamicArray</key>
		<array>
			<dict>
				<key>content</key>
				<string>C’est un monde surréaliste et merveilleux que nous propose Robert Jahns ! Le digital-artist a un univers bien à lui qu’il partage avec de nombreux fans. Et le moins que l’on puisse dire, est que son travail est vraiment incroyable.</string>
			</dict>
		</array>
		<key>subTitle</key>
		<string>发布法语语调笔记</string>
		<key>name</key>
		<string>Tony</string>
		<key>icon</key>
		<string>txStudy</string>
	</dict>
</array>
</plist>
